---
layout: base
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    
{% if page.music %}    <!-- 不知道什么bug得加个空格才显示，“{ %”之间的空格需要删除 -->
<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86
src="//music.163.com/outchain/player?type=2&id={ { page.music-id } }&auto=1&height=66">
</iframe>
{% endif %}    <!-- “{ %”之间的空格需要删除 -->
    
    
    <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
        <p class="post-meta">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                <i class="icon-post-date">{{ page.date | date: "%b %-d, %Y" }}</i>
            </time>
            {% if page.categories.size > 0 %} |
            <span class="post-category">
            <i class="icon-post-category">
            {% for page_category in page.categories %}
                <a href="{{ site.baseurl }}/category/#{{ page_category }}">{{ page_category }}</a>
            {% endfor %}
            </i>
        </span> {% endif %} {% if page.tags.size > 0 %} |
            <span class="post-tag">
            <i class="icon-post-tag">
            {% for page_tag in page.tags %}
                <a href="{{ site.baseurl }}/tags/#{{ page_tag }}">{{ page_tag }}</a>
            {% endfor %}
            </i>
        </span>{% endif %}


            <!-- 阅读量统计， id 将作为查询条件 -->
            <span id={{page.url}} class="leancloud-visitors" data-flag-title={{page.title}}>
                <span class="post-meta-divider">|</span>
                <span class="post-meta-item-text">阅读量 </span>
                <span class="leancloud-visitors-count"></span>
            </span>
        </p>

    </header>

    <div class="post-content" itemprop="articleBody">
        {{ content }}
    </div>

    <div id="donate" >
        <a href="/donate/" style="text-decoration: none" title="点击直达打赏页面～" >
            <button>客官~对小店满意的话，<mark>赏个铜板</mark>再走啊🐼</button>
        </a>
    </div>


    <div class="post-nav">
        {% if page.previous %}
        <a href="{{ page.previous.url | prepend: site.baseurl }}" class="pre"><i class="icon-post-pre"> {{
            page.previous.title }}</i></a>
        {% endif %} {% if page.next %}
        <a href="{{ page.next.url | prepend: site.baseur }}" class="next">{{ page.next.title }} <i
                class="icon-post-next"></i></a>
        {% endif %}
    </div>

    <div id="disqus_thread"></div>
      <script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = 'https://nullrecurrent.github.io/{{page.url}}';  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = 'https://nullrecurrent.github.io/{{page.url}}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://https-nullrecurrent-github-io.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            


</article>
